@use "base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: base.$white-100;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 10;

  padding: 1.2rem 3rem;

  a img {
    width: 40px;
  }
  nav {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: base.$black-900;
    }
  }

  .button {
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: base.$white-100;
    background-color: base.$blue-500;
  }
}

section.introduction {
  width: 100%;
  min-height: 100vh;
  background: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;

  h2 {
    position: absolute;
    top: 26%;
    left: 4%;

    font-size: 5.6rem;
    font-weight: bold;
    color: base.$black-900;

    span {
      color: base.$blue-500;
    }
  }

  div {
    position: absolute;
    top: 35%;
    right: 8%;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
    color: base.$black-900;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: base.$black-900;
  }
}

section.design {
  width: 100%;
  max-width: 1230px;
  padding: 2rem 30px 0;
  margin: 2rem auto 4rem;
  overflow: hidden;

  p {
    margin-top: 1.5rem;
    text-align: justify;
  }

  .cards {
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .card {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    justify-content: space-between;

    h3 {
      text-align: right;
    }

    img {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    }
  }

  .card.reverse {
    flex-direction: row-reverse;

    h3 {
      text-align: initial;
    }
  }
}

section.performance {
  max-width: 1230px;
  padding: 2rem 30px 0;
  margin: 4rem auto;
  margin-top: 6rem;

  p {
    margin-top: 1.5rem;
    text-align: justify;
  }

  .monitor > div {
    position: relative;

    p {
      margin-top: 1.8rem;
      margin-bottom: 0.6rem;
      font-size: 14px;
      font-weight: 600;
      color: base.$black-900;
    }
  }

  .monitor .progress {
    height: 15px;
    background-color: #d0d0d0;
    overflow-x: hidden;
  }

  .monitor .progress .value {
    height: 100%;
    background-color: base.$blue-500;
  }

  .monitor .progress::before {
    position: absolute;
    content: attr(value);
    bottom: 0;
    transform: translate(-40%, 130%);

    font-size: 12px;
    font-weight: 600;
    color: base.$black-900;
  }

  .monitor .progress::after {
    position: absolute;
    content: attr(max-value);
    bottom: 0;
    transform: translate(-40%, 130%);

    font-size: 12px;
    font-weight: 400;
    color: base.$black-900;
  }

  .monitor .velocity .progress {
    width: 55%;
  }
  .monitor .velocity .progress .value {
    width: 84%;
  }
  .monitor .velocity .progress::before {
    left: calc(55% * 0.84);
  }
  .monitor .velocity .progress::after {
    left: 55%;
  }

  .monitor .top-speed .progress {
    width: 72%;
  }
  .monitor .top-speed .progress .value {
    width: 85%;
  }
  .monitor .top-speed .progress::before {
    left: calc(72% * 0.85);
  }
  .monitor .top-speed .progress::after {
    left: 72%;
  }

  .monitor .cv .progress {
    width: 48%;
  }
  .monitor .cv .progress .value {
    width: 88%;
  }
  .monitor .cv .progress::before {
    left: calc(48% * 0.88);
  }
  .monitor .cv .progress::after {
    left: 48%;
  }

  .cards {
    margin-top: 6rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    height: 380px;
  }

  .card {
    width: 310px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);

    img {
      width: 100%;
    }

    .text {
      padding: 25px;

      h3 {
        font-size: 14px;
        font-weight: bold;
        color: base.$black-900;
        text-align: center;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: base.$black-900;
        text-align: center;
      }
    }
  }
}

section.technologies {
  max-width: 1230px;
  padding: 2rem 30px 0;
  margin: 4rem auto;
  margin-top: 6rem;

  > img {
    width: 100%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    text-align: justify;
  }

  .scroll {
    width: 100%;
    overflow-x: scroll;
    padding: 10px;
    position: relative;
    scroll-behavior: smooth;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .advance {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 0;
    transform: translateY(calc(-190px + 50%));
    z-index: 10;

    font-size: 36px;
    line-height: 36px;
    border: none;
    color: base.$black-900;
    background-color: rgba(base.$white-100, $alpha: 0.9);
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    padding: 10px 8px;
    border-radius: 3px;
  }

  .back {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 0;
    transform: translateY(calc(-190px + 50%));
    z-index: 10;

    font-size: 36px;
    line-height: 36px;
    border: none;
    color: base.$black-900;
    background-color: rgba(base.$white-100, $alpha: 0.9);
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    padding: 10px 8px;
    border-radius: 3px;
    transition: opacity 500ms ease;
  }

  .advance.none {
    opacity: 0;
    display: none;
  }

  .back.none {
    opacity: 0;
    display: none;
  }

  .cards {
    width: 1980px;
    height: 380px;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 6rem;
  }

  .card {
    width: 310px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);

    img {
      width: 100%;
    }

    .text {
      padding: 25px;

      h3 {
        font-size: 14px;
        font-weight: bold;
        color: base.$black-900;
        text-align: center;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: base.$black-900;
        text-align: center;
      }
    }
  }
}

body main > footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;

  p {
    display: inline;
    padding: 10px;
  }
}

@media (max-width: 740px) {
  body > header {
    padding: 1.2rem;

    nav {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  section.introduction {
    background: url("../images/car-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      font-size: 4.2rem;
      width: 80%;
      top: 12rem;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  
    div {
      width: 80%;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      h1 {
        margin-top: .8rem;
      }
    }
  }

  section.design {
    .cards {
      width: 100%;
    }

    .card {
      flex-direction: column;

      h3 {
        text-align: center;
      }

      img {
        width: 100%;
      }

    }

    .card.reverse {
      flex-direction: column;

      h3 {
        text-align: center;
      }
    }
  }

  section.performance {  
    .monitor > div {
      margin-top: 4rem;
    }

    .monitor .top-speed .progress {
      width: 95%;
    }
    .monitor .top-speed .progress .value {
      width: 82%;
    }
    .monitor .top-speed .progress::before {
      left: calc(95% * 0.82);
    }
    .monitor .top-speed .progress::after {
      left: 95%;
    }
  
    .monitor .cv .progress {
      width: 80%;
    }
    .monitor .cv .progress .value {
      width: 80%;
    }
    .monitor .cv .progress::before {
      left: calc(80% * 0.8);
    }
    .monitor .cv .progress::after {
      left: 80%;
    }

    .cards {
      align-items: center;
      flex-direction: column;
      height: auto;
    }
  
    .card {
      width: 100%;
      min-height: 360px;
    }
  }

  section.technologies {
    > img {
      height: 12rem;
      object-fit: cover;
    }

    .advance {
      display: none;
    }

    .back {
      display: none;
    }

    .cards {
      width: 1200px;
      height: 360px;
    }

    .card {
      width: 18%;
    }
  }
}
