@use 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: base.$white-100;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 10;

  padding: 12px 30px;

  a img {
    width: 40px;
  }

  nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: base.$black-900;
    }
  }

  .button {
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: base.$white-100;
    background-color: base.$blue-500;
  }
}

section.introduction {
  width: 100%;
  min-height: 100vh;
  background: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;

  h2 {
    position: absolute;
    top: 12rem;
    left: 6rem;

    font-size: 56px;
    font-weight: bold;
    color: base.$black-900;

    span {
      color: base.$blue-500;
    }
  }

  div {
    position: absolute;
    top: 14rem;
    right: 10rem;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
    color: base.$black-900;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: base.$black-900;
  }
}

